<div>
  <h4>顯示拿到的所有用戶資訊</h4>
  <ul *ngFor="let data of myService.httpdata">
    <li>
      <p>*************************************************</p>
      姓名:<b>{{data.name}}</b><br>
      <p>個人資訊<br>
        電子郵件:<b>{{data.email}}</b><br>
        手機:<b>{{data.phone}}</b><br>
        使用者名稱:<b>{{data.username}}</b><br>
        個人網站:<b>{{data.website}}</b><br>
      </p>
      <p>地址:<br>
        街道:<b>{{data.address.street}}</b><br>
        城市:<b>{{data.address.city}}}</b><br>
        郵遞區號:<b>{{data.address.zipcode}}</b><br>
        緯度:<b>{{data.address.geo.lat}}</b><br>
        經度:<b>{{data.address.geo.lng}}</b><br>
      </p>
      <p>公司:<br>
        名稱:<b>{{data.company.name}}</b>
      </p>
      <p>*************************************************</p>
    </li>
  </ul>
</div>
