<div style="text-align:center">
  <h1>
    <p>Welcome to {{ title}}!</p>
    <p>Welcome to {{ title | uppercase}}!</p>
    <p>Welcome to {{ title | lowercase}}!</p>
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
  <span>請選擇月份:</span>
  <select (change)="changeMonths($event)">
    <!--angular的陣列Foreach-->
    <option *ngFor="let i of months">{{i}}</option>
  </select>
  <p>月份陣列:{{months}}</p>
</div>

<span *ngIf="isavailable;then condition1 else condition2">請顯示true或false</span><br>
<!--也可以寫成-->
<ng-template [ngIf]="isavailable">請顯示true或false:(ng-template)的寫法</ng-template><br>
<!--ng-template是結構類 directive ( Structural directives ) — 改變 view 的結構-->
<ng-template #condition1>請顯示true或false:{{isavailable}}</ng-template>
<ng-template #condition2>請顯示true或false:{{isavailable}}</ng-template>
<span>事件演示範例</span>  <button class="btn btn-danger" (click)="myClickFunction($event)">點我</button>
<div>
  <span appChangeText>自訂的Directive</span>
</div>
<div>
  <p>日期通道:</p>
  <span>yyyy-MM-dd : {{today | date: 'yyyy-MM-dd'}}</span><br>
  <span>d/M/y : {{today | date: 'd/M/y'}}</span><br>
  <span>shortTime : {{today | date: 'shortTime'}}</span>
</div>
<div>
  基本個人資訊(JSON格式)
  <span>{{jsonval | json}}</span>
</div>
<div>
  <p>字串切割通道:</p>
  <span>把"{{title}}"做切割</span><b>{{title | slice:2:6}}</b>
</div>
<div>
  <p>自訂開根號通道</p>
  <span>25開根號通道為：{{25|sqrt}}</span>
</div>
<span>今天的日期是:{{todaydate}}</span>
<app-new-cmp></app-new-cmp>
<p>用route-outlet連把new-cmp的內容顯示出來</p>
<a routerLink="new-cmp">前往new-cmp</a>
<router-outlet></router-outlet>
<button (click)="myservice.sendHttpGet()">發送httpGet請求拿json</button>
<div>
  <h4>顯示拿到的所有用戶資訊</h4>
  <ul *ngFor="let data of myservice.httpdata">
    <li>
      <p>*************************************************</p>
      姓名:<b>{{data.name}}</b><br>
      <p>個人資訊<br>
        電子郵件:<b>{{data.email}}</b><br>
        手機:<b>{{data.phone}}</b><br>
        使用者名稱:<b>{{data.username}}</b><br>
        個人網站:<b>{{data.website}}</b><br>
      </p>
      <p>地址:<br>
          街道:<b>{{data.address.street}}</b><br>
          城市:<b>{{data.address.city}}}</b><br>
          郵遞區號:<b>{{data.address.zipcode}}</b><br>
          緯度:<b>{{data.address.geo.lat}}</b><br>
          經度:<b>{{data.address.geo.lng}}</b><br>
      </p>
      <p>公司:<br>
          名稱:<b>{{data.company.name}}</b>
      </p>
      <p>*************************************************</p>
    </li>
  </ul>
</div>
<hr>
<div>
  <h1>以下為stock-item範例</h1>
  <app-stock-item></app-stock-item>
</div>
