<span>請選擇月份:</span>
  <select (change)="changeMonths($event)">
    <!--angular的陣列Foreach-->
    <option *ngFor="let i of months">{{i}}</option>
  </select>
  <p>月份陣列:{{months}}</p>

<span *ngIf="isavailable;then condition1 else condition2">請顯示true或false</span><br>
<!--也可以寫成-->
<ng-template [ngIf]="isavailable">請顯示true或false:(ng-template)的寫法</ng-template><br>
<!--ng-template是結構類 directive ( Structural directives ) — 改變 view 的結構-->
<ng-template #condition1>請顯示true或false:{{isavailable}}</ng-template>
<ng-template #condition2>請顯示true或false:{{isavailable}}</ng-template>
<span>事件演示範例</span>  <button class="btn btn-danger" (click)="myClickFunction($event)">點我</button>
<div>
  <span appChangeText>自訂的Directive</span>
</div>
<div>
  <p>日期通道:</p>
  <span>yyyy-MM-dd : {{today | date: 'yyyy-MM-dd'}}</span><br>
  <span>d/M/y : {{today | date: 'd/M/y'}}</span><br>
  <span>shortTime : {{today | date: 'shortTime'}}</span>
</div>
<div>
  基本個人資訊(JSON格式)
  <span>{{jsonval | json}}</span>
</div>
<div>
  <p>字串切割通道:</p>
  <span>把"{{welcome.title}}"做切割</span><b>{{welcome.title | slice:2:6}}</b>
</div>
<div>
  <p>自訂開根號通道</p>
  <span>25開根號通道為：{{25|sqrt}}</span>
</div>
<p>今天的日期是:{{todaydate}}</p>
<a routerLink="welcome">前往歡迎畫面</a><br>
<a routerLink="new-cmp">前往new-cmp</a><br>
<a routerLink="user-info">顯示所有用戶資訊</a><br>
<a routerLink="stock-item">stock-item範例</a><br>
<router-outlet></router-outlet>
<p>Input</p>
  <!--
  stockForInput先在app.component.ts初始化設定好，此stock為趨勢(TREND)
  然後直接把整個物件塞給stock-item.component.ts裡面@Input的stock物件，
  這樣就能在app.component.ts的範圍裡直接設定好值給子模板，就不用在stock-item.component.ts裡面設定物件
  -->
  <app-stock-item [stock]="stockForInput"></app-stock-item>
<p>************************************************************</p>
<p>Output</p>
<!--
  1.stockForOutput先在app.component.ts初始化設定好，此stock為華碩(ASUS)
  然後直接把整個物件塞給stock-item.component.ts裡面@Input的stock物件，
  這樣就能在app.component.ts的範圍裡直接設定好值給子模板，就不用在stock-item.component.ts裡面設定物件

  2.stock-item.component.ts的onToggleFavoritem與app.component.ts的onToggleFavorite方法並沒有關聯，
    把app.component.ts的onToggleFavorite方法加上傾聽toggleFavorite事件，
    stock-item.component.html此時設定值為stockForOutput，並且秀在畫面上，此時按下加入最愛，
    會呼叫stock-item.component.ts的onToggleFavorite的方法，並且把父模板的stockForOutput傳給子模板的@Input stock物件
    又stock-item.component.ts的onToggleFavorite的方法設定當有監聽toggleFavorite的方法時，那些方法都會收到@Input的stock物件
    而這時的stock物件事就是原先設定好的華碩(ASUS)，所以最後console.log顯示華碩。
  -->
  <app-stock-item [stock]="stockForOutput" (toggleFavorite)="onToggleFavorite($event)"></app-stock-item>
<p>************************************************************</p>
<!--<button (click)="myservice.sendHttpGet()">發送httpGet請求拿json</button>-->
